@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Junge&family=Kite+One&family=Montserrat:wght@200;300;400;500;600&family=Noto+Sans:wght@100;200;300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-blue: #9ebec9;
	--color-green: #84c393;
	--color-yellow: #f9f8e4;
	--color-neutral: #b3b1b0;
	--color-light: #f4f5f8;

	--transition: all 0.3s ease;

	--font-primary: 'Gabarito', cursive;
	--font-secondary: 'Noto Sans', sans-serif;
	--font-tertiary: 'Junge', serif;
	--font-alternative: 'Kite One', sans-serif;
}

html {
	scroll-behavior: smooth;

	/* OPTIONAL */
	height: 100%; 
}

body {
	font-family: var(--font-primary);
	line-height: 1.7;
	min-height: 100%; /* OPTIONAL */
}

.container {
 	 margin: 0 auto;
}

a {
	text-decoration: none;
}

.strong {
	font-weight: bold;
}

.custom_btn {
	border: none;
    background-color: var(--color-blue);
    font-family: var(--font-secondary);
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    color: var(--color-light);
    border-radius: 5px;
	border: 1px solid var(--color-blue);
}

.custom_btn:hover {
    background-color: transparent;
    color: var(--color-blue);
    transition: var(--transition);
}