.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
}

.nav_logo {
    width: 12%;
    margin: 0 2rem;
}

.nav_actions {
    display: flex;
    gap: 1.6rem;
    text-align: center;
}

.nav_links {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-blue);
}

.nav_btn {
    border: none;
    background-color: aqua;
    margin-right: 2rem;
}

.navbar-toggler {
    margin-right: 2rem;
}