.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
}

.nav_logo {
    width: 12%;
    margin: 0 2rem;
    cursor: pointer;
}

.nav_actions {
    display: flex;
    gap: 1.6rem;
    text-align: center;
}

.nav_links {
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-blue);
    position: relative;
    cursor: pointer;
}

.nav_links::before {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: var(--color-blue);
    transition: var(--transition); 
}

.nav_links:hover::before {
    width: 100%;
}

.nav_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_btn {
    margin-right: 2rem;
}

.navbar-toggler {
    margin-right: 2rem;
}

@media screen and (max-width: 1024px){
	.nav_btn {
		margin: 1rem 0;
        padding: 0.2rem 1.5rem;
	}
    .nav_logo {
        width: 22%;
    }
}

@media screen and (max-width: 600px){
    .nav_logo {
        width: 30%;
    }
}