<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Our App, <%= @patient.given_name %> 🚀</h1>
    <p>
      You have successfully signed up. Your username is: <%= @patient.email %>.<br> Please respond to this email if you have inquiries.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
