.dashboard {
    background-color: var(--color-blue);
    color: white;
}

.dashboard_header {
    color: white;
    background-image: url('../../assets/apple-bg.jpg');
    text-align: center;
    font-family: var(--font-tertiary);
    font-style: italic;
    padding: 7rem 0;
    background-size: cover;
    background-position: center;
}

/* APPOINTMENTS */
.appointments_section {
    padding: 2rem;
}

.divider {
    border: 2px solid white;
}

.appointments_section h1 {
    margin: 2rem 0 1.5rem;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.filter_container {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.appointments_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.appointment {
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-blue);
    background-color: var(--color-light);
}

.none {
    display: none;
}

.records_container .divider {
    border-color: var(--color-blue);
    margin-bottom: 1rem;
}

/* RESPONSIVENESS */
@media screen and (max-width: 1024px){
    .appointments_container {
        width: 100%;
    }
    .appointment {
        grid-template-columns: 40% 25% 20% 15%;
    }
    .hidden {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .appointments_section h1 {
        font-size: 2.5rem;
    }
    .filter_container {
        flex-direction: column;
        justify-content: center;
    }
    .appointment {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}